@media screen and (max-width: 900px) {
  @function vw($px) {
    @return ($px * 100vw) / 375px;
  }
  .home {
    height: 100%;
    .adm-swiper {
      height: 25vh;
      // width: 94vw;
      // margin: 2vw auto;
      .swiper-item {
        width: 100%;
        height: 100%;
        // border-radius: 12px;
        overflow: hidden;
        img {
          width: 100%;
          vertical-align: bottom;
          // height: 100%;
        }
      }
    }
    .search-bar {
      display: flex;
      align-items: center;
      color: #888;
      position: absolute;
      z-index: 2;
      top: vw(20px);
      left: 0;
      right: 0;
      width: 90vw;
      margin: 0 auto;
      background-color: #fff;
      border-radius: 4px;
      .left-local {
        padding: 0 vw(10px);
      }
      .search-btn {
        position: absolute;
        right: 2px;
        top: 1px;
        bottom: 1px;
        // display: flex;
        // align-items: center;
        .btn-content {
          font-size: 14px;
          color: #888;
        }
        border: none;
      }
      .search {
        height: vw(39px);
        .adm-search-bar {
          height: 100%;
          &-input-box {
            height: 100%;
          }
        }
      }
    }
    .nav-bar {
      display: flex;
      padding: vw(16px);
      background-color: #fff;
      .nav-bar-item {
        flex: 1;
        text-align: center;
        img {
          width: vw(38px);
          height: vw(38px);
          padding: vw(9px);
          background: rgb(243, 243, 243);
          border-radius: 50%;
        }
      }
    }
    .rent-group {
      padding: vw(16px) vw(16px);
      &-top {
        display: flex;
        justify-content: space-between;
        margin-bottom: vw(10px);
        .title {
          font-weight: 600;
          font-size: vw(16px);
        }
        .more {
          font-size: vw(12px);
          color: rgb(160, 159, 159);
        }
      }
      &-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .rent-group-item {
          flex: 0 1 vw(168px);
          margin-bottom: vw(7px);
          padding: vw(6px);
          border-radius: vw(6px);
          background-color: #fff;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .left {
            .title {
              font-weight: 600;
              margin: 0 vw(5px) vw(10px) 0;
            }
            .desc {
              font-size: vw(12px);
              color: rgb(160, 159, 159);
            }
          }
          .right {
            img {
              width: vw(70px);
              // height: vw(80px);
              vertical-align: middle;
            }
          }
        }
      }
    }
    .news {
      background-color: #fff;
      padding: 0 vw(16px) 50px;
      > .title {
        font-weight: 600;
        font-size: vw(16px);
        padding: vw(16px) 0 0;
      }
      .content {
        .news-item {
          padding: vw(12px) 0;
          display: flex;
          > .left {
            margin-right: vw(10px);
            img {
              width: vw(120px);
              height: vw(90px);
            }
          }
          > .right {
            position: relative;
            width: 100%;
            .title {
              font-weight: 600;
            }
            .bottom {
              color: rgb(160, 159, 159);
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              display: flex;
              justify-content: space-between;
            }
          }
        }
      }
    }
  }
}
